
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Otomanopee One', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.fbuz-header{
    background-color: #435460;
    padding: 40px 0;
}
.fbuz-container{
    width: 90%;
    margin: 0 auto;
}
.fbuz-flex-content{
    display: flex;
}
.fbuz-logo{
    width: 40%;
}
.fbuz-logo img{
    width: 200px;
}
.fbuz-menu{
    width: 60%;
}
.fbuz-menu ul{
    display: flex;
    float: right;
}
.fbuz-menu ul li{
    list-style: none;
}
.fbuz-menu ul li a{
    text-decoration: none;
    margin: 0 10px;
    padding: 0 10px;
    text-transform: uppercase;
    color: orange;
    font-size: 18px;
    transition: .3s;
}
.fbuz-menu ul li a:hover{
    color: tomato;
}
.fbuz-banner{
    background-color: ivory;
    height: 80vh;
    padding: 70px 0 40px;
}
.fbuz-banner-left{
    width: 45%;
    margin-left: 5%;
}
.fbuz-banner-left h2{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.603);
    font-size: 50px;
}
.fbuz-banner-left h2 span{
    color: #0998f8;
}
.fbuz-banner-left p{
    color: #000;
    font-size: 16px;
    padding: 30px 0;
    width: 50%;
}
.fbuz-banner-left a,
.fbuz-about-right a{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,#03A678 , #0998f8);
    display: inline-block;
    margin-top: 40px;
    filter: drop-shadow(0 0 0.50rem #03A678);
}
.fbuz-banner-left a:hover,
.fbuz-about-right a:hover{
    background-image: linear-gradient(to left,#03A678 , #0998f8);
}
.fbuz-banner-right{
    width: 40%;
    margin-left: 6%;
}
.fbuz-about{
    background-image: url(images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    height: 70vh;
}
.fbuz-about-left{
    width: 50%;
}
.fbuz-about-left img{
    width: 350px;
    margin-top: 30px;
    margin-left: 10%;
}
.fbuz-about-right{
    width: 50%;
    padding-top: 50px;;
}
.fbuz-about-right h2{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.603);
    font-size: 45px;
    font-weight: 700;
}
.fbuz-about-right p{
    font-size: 16px;
    padding: 30px 0;
    text-align: justify;
    width: 60%;
}
.fbuz-items{
    padding: 100px 0;
}
.fbuz-items-title,
.fbuz-reviews-title{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.fbuz-items-title h2,
.fbuz-reviews-title h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
    color: cadetblue;
}
.fbuz-items-title p{
    font-size: 16px;
    padding: 20px 0;
}
.fbuz-single-item{
    width: 30%;
    margin-left: 5%;
    border: 10px solid white;
    box-shadow: 0 0 15px #ddd;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}
.fbuz-single-item:first-child{
    margin-left: 0%;
}
.fbuz-single-item img{
    border-radius: 20px;
    transition: .5s;
}
.fbuz-single-item img:hover{
    transform: scale(0.9);
}
.fbuz-single-item-text{
    padding: 25px 0;
}
.fbuz-single-item-text h3{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}
.fbuz-single-item-text p{
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}
.fbuz-single-item-text p a{
    font-size: 12px;
    color: tomato;
    text-decoration: none;
}
.fbuz-reviews{
    margin-bottom: 100px;
    padding: 60px 0;
}
.fbuz-reviews-title{}
.fbuz-reviews-content{
    padding-top: 30px;
}
.fbuz-single-review{
    width: 48%;
    margin-left: 4%;
    border: 5px solid white;
    box-shadow: 0 0 15px #ddd;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
}
.fbuz-single-review:first-child{
    margin-left: 0;
}
.fbuz-single-review img{
    width: 100px;
}
.fbuz-single-review h3{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    color: turquoise;
    padding: 5px 0 0;
}
.fbuz-single-review h6{
    text-transform: capitalize;
    font-size: 12px;
    padding: 0 0 5px;
}
.fbuz-single-review p{
    font-size: 14px;
    color: teal;
    letter-spacing: 2px;
    padding: 5px 0;
}
















.fbuzz-footer{
    background-color: #435460;
    padding: 30px 0;
}
.fbuz-footer-left{
    width: 50%;
}
.fbuz-footer-left h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: turquoise;
}
.fbuz-footer-left p{
    font-size: 12px;
    color: whitesmoke;
}
.fbuz-footer-right{
    width: 50%;
}
.fbuz-footer-right a img{
    width: 150px;
    float: right;
}